.pricing-table li.title{
	background-color: white;
}

.gateway ul{
	margin-left: 25px;
}

.gateway p.meta{
	background-color: #ddd;
	padding: 10px;
	margin: 0 -10px;
}

.gateway p.questions{
	padding: 10px;
	margin: 25px -10px;
	text-align: center;	
}
