#home{
	background-color: #1c9cc6;
	padding: 30px 0;
}
#home p{
	color: white;	
	padding: 0;
	margin-bottom: 0;
}

#slogan p{
	color: white;	
	font-size: 1.8em;
	font-weight: bold;
}

#intro p{
	font-size: 1.2em;
}

#home .sitename {
	font-family: "reklame-script",sans-serif;
	font-style: normal;
	font-weight: 700;
	color: #2D3C4D;
}

ul.main-sections{
	color: #2D3C4D;	
	width: 100%;
	margin: 15px 0;
}

ul.main-sections li{
	width: 33%;
	padding: 15px;
	vertical-align: top;
}

ul.main-sections li .icon{
	font-size: 3em;
	display: block;
	float: left;
	margin-right: 10px;
	width: 55px;
	text-align: center;
}

#last-activity{
	margin: 25px 0 15px 0;
}
#last-activity ul{
	list-style:none;
}

#last-activity ul li{
	margin-bottom: 12px;
}

#last-activity ul li span.title{
	font-size: 1.2em;
	font-weight: bold;
}

#last-activity ul li span.date{
	font-style: italic;
	font-size: 0.8em;
	display: block;
}

.cta{
	text-align: center;
	font-size: 1.5em;
	border-bottom: 1px solid #2D3C4D;
}

.gateways{
	font-size: 2.5em;
}