/*a, a:visited, a:hover{
	color: #02cce0;
}*/

body, p{
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #2D3C4D;
}

i{
	font-family: "proxima-nova",sans-serif;
	font-style: italic;
	font-weight: 400;
	color: #2D3C4D;
}
h1, h4 strong{
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 700;
	color: #2D3C4D;
}

header{
	margin-bottom: 2em;
}

header h2 {
	font-family: "reklame-script",sans-serif;
	font-style: normal;
	font-weight: 400;
  color: #2D3C4D;
  font-size: 4em;
}

header h2 strong{
	font-family: "reklame-script",sans-serif;
	font-style: normal;
	font-weight: 700;
}

header #main-nav{
	text-align: right;
}

header #main-nav ul{
	list-style:none;
	margin-top: 2em;
}

header #main-nav li{
	width: 100px;
	border-top: 5px solid #2D3C4D;
	padding: 1.3em 0;
	text-align: left;
	display: block;
	float: right;
	margin-left: 15px;
	font-size: 0.8em;
}

header #main-nav li a, a.visited{
	color: #2D3C4D;
}

header #main-nav li a:hover{
	color: #2D3C4D;
	text-decoration: underline;
}

.full-width {
  max-width: 100%;
}
.column{
	padding: 0;
}
.row .row{
	margin: 0;
}

footer{
  color: white;
  background-color: #2D3C4D;
	padding-top: 20px;
	margin-top: 140px;
	height: 130px;
}

footer a, a.visited{
	color: white;
	text-decoration: underline;	
}
footer a:hover{
	color: white;	
	text-decoration: none;	
}

footer ul.social{
	list-style:none;
}

footer ul.social li{
	display: inline;
}

.icon-twitter{
	color: #02cce0;
}
