---
layout: default
title: Archivo
---

<div class="row full-width">
	<div class="large-8  large-offset-2 ">
	  <h1>Pasarelas online.</h1>
	  <ul class="large-block-grid-4">
	  {% for post in (site.categories.pasarelas | order:ascending) %}
      <li><a href="{{ post.url }}"><img src="{{ post.gw_logo }}" alt="{{post.title}}"/></a></li>
    {% endfor %}
    </ul>
    
    <h1>Aplicaciones para cobros recurrentes.</h1>
    <ul class="large-block-grid-4">
	  {% for post in (site.categories.recurring | order:ascending) %}
      <li><a href="{{ post.url }}"><img src="{{ post.gw_logo }}" alt="{{post.title}}"/></a></li>
    {% endfor %}    
    </ul>
    
	  <h1>TPVs móviles.</h1>
	  <ul class="large-block-grid-4">
	  {% for post in (site.categories.tpv | order:ascending) %}
      <li><a href="{{ post.url }}"><img src="{{ post.gw_logo }}" alt="{{post.title}}"/></a></li>
    {% endfor %}
    </ul>
    
	  <h1>Pago onsite.</h1>
	  <ul class="large-block-grid-4">
	  {% for post in (site.categories.onsite | order:ascending) %}
      <li><a href="{{ post.url }}"><img src="{{ post.gw_logo }}" alt="{{post.title}}"/></a></li>
    {% endfor %}
    </ul>
        
	  <h1>Pago offiste.</h1>
	  <ul class="large-block-grid-4">
	  {% for post in (site.categories.offsite | order:ascending) %}
      <li><a href="{{ post.url }}"><img src="{{ post.gw_logo }}" alt="{{post.title}}"/></a></li>
    {% endfor %}
    </ul>
	</div>
</div>

