<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{{ page.title }}</title>

  
  <link rel="stylesheet" href="/css/foundation.css" />
  <link rel="stylesheet" href="/css/site.css" />
  <link rel="stylesheet" href="/css/home.css" />
  <link rel="stylesheet" href="/css/gateways.css" />

  <link rel="stylesheet" href="/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/css/font-awesome-ie7.min.css" />  

  <script src="/js/vendor/custom.modernizr.js"></script>

  <script type="text/javascript" src="//use.typekit.net/ies7bei.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  
  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.cobraronline.es/feed/rss.xml" />
</head>
<body>
  

  	<header class="row full-width">
  		<div class="small-3 large-3 large-offset-2 column">
  			<a href="/"><h2><strong>cobrar</strong> online</h2></a>
  		</div>
  		<div class="small-5 large-5 column">
  		  <nav id="main-nav">
          <ul class="title-area">
            <li class="name"><a href="/contacto.html">Contacta<br>conmigo</a></li>
            <li class="name"><a href="/industria.html">Conoce<br/>la industria</a></li>
            <li class="name"><a href="/escenarios.html">Escenarios<br/>de uso</a></li>
            <li class="name"><a href="/pasarelas.html">Alternativas<br/>disponibles</a></li>
          </ul>
        </nav>
  		</div>
  		<div class="large-2 column"></div>
  	</header>

    {{ content }}

    <br/><br/>
  	<footer class="row full-width">
      <div class="large-3 small-3 large-offset-2 column">
        <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">Sitio</span> mantenido por <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.mol.pe" property="cc:attributionName" rel="cc:attributionURL">Alberto Molpeceres</a> y licenciado bajo  una  <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.es_ES">licencia Creative Commons Reconocimiento 3.0</a>.
        <br/><br/>
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.es_ES"><img alt="Licencia de Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a>
      </div>

      <div class="large-2 small-2  large-offset-1 small-offset-1 column" id="site-index">    
        <ul>    
          <li><a href="/pasarelas.html">Pasarelas</a></li>
          <li><a href="/escenarios.html">Escenarios</a></li>
          <li><a href="/industria.html">Industria</a></li>
          <li><a href="/contacto.html">Contacto</a></li>
          <li><a href="/archivo.html">Índice</a></li>
        </ul>
      </div>
      
      <div class="large-2 small-2 column" id="social">        
        <i class="icon-twitter"></i> <a href="http://twitter.com/cobraronline">@cobraronline</a>
      </div>
      <div class="large-2 small-2 column"></div>
    </footer>
</body>
<script>
document.write('<script src=' +
('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
'.js><\/script>')
</script>

<script src="js/foundation.min.js"></script>

<script>
  $(document).foundation();
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-24616488-2', 'cobraronline.es');
  ga('send', 'pageview');

</script>
</html>